{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
   
</head>
<body class="img-fluid" style=" background-repeat: no-repeat; background-size:100% 100%; background-image: url('{% static "images/st2.jpg" %}');">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
    <form action="{% url 'logfun' %}" class="bg-light" method="post">
        {% csrf_token %}
        {% for msgs in messages %}
<h6 class="alert alert-info mt-3 ml-5">{{msgs}}</h6>
{% endfor %}
        <h3 class="text-light bg-info pl-3 " >Log in</h3>
        <input type="text" name="luname"class="form-control" placeholder="Username"><br>
        <input type="password" name="lpwd" class="form-control"placeholder="Password"><br>
        <button type="submit" class="btn btn-outline-info bg-info text-light" style="margin-left: 20%;">Login</button><br>
        <h6 >Do not have an account ? please &nbsp;<a href="{% url 'signup' %}">signup</a></h6>

    </form></div></div>
    <div class="ml-5">
        <h4>Location</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15716.296201890831!2d76.3606986!3d10.0107422!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d9bfaa6db61%3A0xa5df6acfc2d1e5fd!2sALTOS%20Technologies!5e0!3m2!1sen!2sin!4v1683380363182!5m2!1sen!2sin" width="360" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</body>
</html>
{% endblock  %} 